<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Start the ASP.NET Core application -->
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- ASP.NET Core Module configuration -->
		<aspNetCore processPath="dotnet" arguments=".\PubSub.OcppServer.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>
		<httpProtocol>
			<customHeaders>
				<add name="Upgrade" value="h2c" />
			</customHeaders>
		</httpProtocol>

	

		<httpErrors errorMode="Detailed" />
		<!-- WebSocket configuration -->
		<webSocket enabled="true" />
	</system.webServer>
</configuration>